.selected {
    background-color: #212529;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.1em;
    border-radius: 0.2em;
    width: 2em;
}

.pages {
    background-color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0.1em;
    border-radius: 0.2em;
    width: 2em;
}

.prevNext{
    background-color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0.1em;
    border-radius: 0.2em;
    width: 3em;
}

.pagination{
    position: fixed;
    bottom: 5em;
    right: 5em;
}

